version: '3'
services:
  image:
    build: ./image-server
    environment:
      - TITLE=OADW-Image-Server
      - DOMAIN=http://localhost:8007
      - LOWPROFILE=True
    ports:
    - "8007:80"
  prisma:
    image: prismagraphql/prisma:1.26
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: thehouseisalwaysblue
        databases:
          default:
            connector: postgres
            host: postgres
            port: 5432
            user: prisma
            password: prisma
            migrations: true

    depends_on:
      - postgres
  postgres:
    image: postgres:10.6
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
volumes:
  postgres:
  image_server:
